.well_container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.drel {
    color: #000;
}

.Bugungi {
    color: #0061F7;
    width: auto;
    height: 44px;
    font-size: 35px;
    font-weight: 600;
    line-height: 48.41px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 10px 60px;
    cursor: pointer;
}

.input_cards {
    display: flex;
    padding: 50px 70px;
    gap: 20px;
}

.input_cener_text_top {
    width: auto;
    height: 24px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 15px;
    cursor: pointer;
}

.derdadd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uquvchilar_input_cards_astro {
    display: flex;
    gap: 370px;
    padding: 30px 0px;

}

.weril {
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;
}

.guruhlar_cards_left {
    width: 320px;
    height: 358px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;

}

.wergthyjukilop {
    display: flex;
    gap: 40px;
    padding: 10px 60px;
}

.tugri_chiziq {
    width: 320px;
    height: 50px;
    font-size: 22px;
    padding: 14px 100px;
    border-radius: 10px 10px 0px 0px;
    background-color: #0061F7;
    cursor: pointer;
}

.Huquq {
    width: 320px;
    height: 50px;
    font-size: 22px;
    padding: 14px 120px;
    border-radius: 10px 10px 0px 0px;
    background-color: #0061F7;
}

.text_guruhlar {
    color: black;
    width: 300px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #001062;
    padding: 23px 0px;

}

.text_guruhlar_two {
    width: 106px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
    padding: 31px 0px;
    font-size: 16px;
}

.text_guruhlar_two_for {
    width: 106px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
    padding: 8px 133px;
    font-size: 16px;
}

.text_guruhlar_two_for1 {
    width: 106px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
    padding: 8px 110px;
    font-size: 16px;
}

.Ibroxim {
    color: black;
}

.werghjkl {
    display: flex;
}

.asdfghjk {
    display: flex;
    margin-bottom: 20px;
}


.dars_kunlari {
    width: 180px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #001062;

}

.dushanba_kun {
    width: 150px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #000000;
}

.dushanba_kun1 {
    width: 150px;
    height: 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #000000;
}

.keneshka {
    padding: 20px 10px;
}


.dars_kunlari_dars {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0px 10px;
}


.wergthyjukilop {
    display: flex;
    align-items: center;
    justify-content: center;
}