.create_container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
  align-items: center;
  justify-content: center;
}



.darja {
    padding: 0px 0px;
}

.darja_img {
    width: 1220px;
    height: 486px;


}